

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hi @ViewBag.userId</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>@ViewBag.roleName</p>
        </dt>

       

    </dl>
</div>
<p>
</p>
